@import 'common';

.button {
  --button-shadow: inset 0px -2px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 1rem 0;

  @include mediaquery('xl') {
    display: none;
  }
}

.filter {
  width: 100%;
  height: 3.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 4px 0px 0px 4px;
  background-color: var(--light-500);
  color: #1a202c;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 1rem 1rem 1.5rem;
  box-shadow: var(--button-shadow);
}

.icon {
  width: 20%;
  max-width: 8rem;
  height: 3.5rem;
  background-color: var(--light-200);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--button-shadow);
  border-radius: 0px 4px 4px 0px;
}
