@import 'common';

.nav {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 6rem;
  z-index: 2000;
  padding-bottom: 1rem;
  background-color: var(--white);

  @include mediaquery('lg') {
    position: static;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 0;
  }
}

.hide {
  display: none;

  @include mediaquery('lg') {
    display: flex;
  }
}
