:root {
  --white: #fff;
  --black: #000;
  --light-100: #edf2f7;
  --light-200: ##e2e8f0;
  --light-300: ##eaeaea;
  --light-400: ##dee9f5;
  --light-500: ##cbd5e0;
  --gray-100: #566a81;
  --gray-200: #577594;
  --gray-300: #6b7280;
  --gray-400: ##718296;
  --dark-100: #313f4e;
  --dark-200: #24292e;
  --dark-300: #1a202c;
  --blue-100: #0000ee;
}
