@import 'common';

.wrapper {
  width: 100%;
  // max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;

  @include mediaquery('lg') {
    padding-top: 0;
  }

  @include mediaquery('xl') {
    padding-top: 0;
    padding-left: 0;
  }
}

.filters {
  width: 100%;
}
