@import 'common';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;
  flex: 1;
  margin-top: 3rem;

  @include mediaquery('lg') {
    align-items: flex-start;
    margin-top: 0;
  }
}

.form {
  width: 100%;
  min-width: 26rem;
  height: 3.8rem;
  border: none;

  @include mediaquery('lg') {
    min-width: 22rem;
    max-width: 29rem;
  }
}

.input {
  font-size: 1.6rem;
  background-color: #dee9f5;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  color: #566a81;
  background-image: url('/icons/search.svg');
  background-repeat: no-repeat;
  background-position: 1rem 50%;
  background-size: 1.7rem 1.7rem;
  padding: 1rem 0;
  padding-left: 3.2rem;

  @include mediaquery('xl') {
    font-size: 1.5rem;
  }

  @include placeholder() {
    color: #566a81;
  }
}
