@import 'common';

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}

.mainWrapper {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;

  @include mediaquery('lg') {
    margin-top: 4rem;
    grid-column-gap: 4rem;

    align-items: start;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 2fr minmax(30rem, 1fr);
  }

  @include mediaquery('xl') {
    grid-column-gap: 8rem;
    grid-template-columns: 1fr 2.2fr 1fr;
  }
}

.filters {
  display: none;
  width: 100%;
  @include mediaquery('xl') {
    display: block;
  }
}

.projectsFilters {
  display: block;
  width: 100%;

  @include mediaquery('xl') {
    display: none;
  }
}

.mainHeading {
  color: #718296;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  width: 100%;
  max-width: 27rem;
  text-align: left;
  margin-bottom: 2rem;
}

.projectsWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.popularWrapper {
  width: 100%;
  // max-width: 30rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
