.container {
  margin: 2rem auto;
  width: 100%;
  max-width: 106rem;
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 0 2rem;
}

.mainHeading {
  color: #718296;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  width: 100%;
  max-width: 27rem;
  text-align: left;
  margin-bottom: 2rem;
}

.projectsWrapper {
  width: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-row-gap: 3rem;
}
